<?xml version="1.0"?>
<robot name="blueelf_agv">
<link name="base_footprint"/>
  <joint name="base_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link"/>
    <origin xyz="0 0 0.05" rpy="0 0 0"/>
  </joint>
  <link name="base_link"/>
<link name="base_laser"/>
  <joint name="laser_joint" type="fixed">
    <origin xyz="0.271 0 0.150" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="base_laser"/>
    <axis xyz="0 0 0"/>
  </joint>
<link name="base_imu"/>
  <joint name="imu_joint" type="fixed">
    <origin xyz="0.20 0 0.1" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="base_imu"/>
    <axis xyz="0 0 0"/>
  </joint>
<link name="camera_link"/>
  <joint name="camera_joint" type="fixed">
    <origin xyz="0.215 0 0.15" rpy="0 0.01 0"/>
    <parent link="base_link"/>
    <child link="camera_link"/>
    <axis xyz="0 0 0"/>
  </joint>
</robot>


