<?xml version="1.0"?>
<!--
  Collection of robot-centric definitions and nodes for the turtlebot. 
 -->
<launch>
  <param name="robot_description" textfile="$(find bringup)/scripts/blueelf_agv.URDF"/>


  <!-- important generally, but specifically utilised by the current app manager -->  

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="5.0"/>
  </node>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
 <!--
  <node pkg="tf" type="static_transform_publisher" name="robot_laser_broadcaster" args="0 0 0 0 0 0 1 /laser_support_link /camera_depth_frame 200"/>
  -->  
</launch>
