<?xml version="1.0"?>
<launch>
    <arg name="shelf_size_informed" default="true" />
    <arg name="size_tolerance" default="0.1" />  
    <arg name="shelf_front_rear" default="1.2" />
    <arg name="shelf_left_right" default="0.65" />
    <arg name="half_shelf_view" default="False" />
    <arg name="consider_range_front" default="2" />
    <arg name="consider_range_back" default="0" />
    <arg name="consider_range_side" default="1" />
    <arg name="right_angle_tolerance" default="0.08" />
    <arg name="perpendicular_yaw_error" default="0.08" />
    <arg name="footprint_rotation" default="False" />
    <arg name="median_filter_group" default="150" />
    <arg name="median_filter_initial_group" default="20" />
    <arg name="fifo" default="-1" />

    <node name="shelf_detector" pkg="shelf_detector" type="shelf_detector.py" output="screen" >
        <rosparam subst_value="true">
            shelf_size_informed:  $(arg shelf_size_informed)
            size_tolerance: $(arg size_tolerance)
            shelf_front_rear: $(arg shelf_front_rear)
            shelf_left_right: $(arg shelf_left_right)
            half_shelf_view: $(arg half_shelf_view)
            weight_size_match: 20
            consider_distance: 4.0
            consider_range_front: $(arg consider_range_front)
            consider_range_back: $(arg consider_range_back)
            consider_range_side: $(arg consider_range_side)
            
            right_angle_tolerance: $(arg right_angle_tolerance)
            perpendicular_yaw_error: $(arg perpendicular_yaw_error)
            radius_ratio_tolerance: 0.0
            radius_diff_tolerance: 0.3
            local_xy_error: 0.1
            local_yaw_error: 0.1
            
            object_timeout: 30
            set_shelf_footprint: True
            footprint_rotation: $(arg footprint_rotation)
            shelf_visualization: False

            median_filter_group: $(arg median_filter_group)
            median_filter_initial_group:  $(arg median_filter_initial_group)
            fifo: $(arg fifo)

            if_show_animation: False
            plot_pause_interval: 20
            plot_sample_interval: 3

            if_log: False
            log_path: "/home/hitrobot/Downloads"
        </rosparam>  
    </node>
</launch>
