<?xml version="1.0"?>
<launch>
    <node name="rosbridge_shelf_led_layer2" pkg="rosbridge_driver" type="rosbridge_driver" output="screen">
        <rosparam>
            port_chain:
              - name: plc_port
                type: socket
                ip_address: 192.168.0.12
                ip_port: 28899
            topic_chain:
              - name: waypoint_user_pub
                type: subscribe

              - name: layer2_front_red_led_on
                type: event
                action_chain:
                  - name: plc_port
                    type: write
                    byte: [0x11, 0x05, 0x00, 0x00, 0xFF, 0x00, 0x8E, 0xAA]
                  - name: plc_port
                    type: read
                    byte: [0x11, 0x05, 0x00, 0x00, 0xFF, 0x00, 0x8E, 0xAA]

              - name: layer2_front_red_led_off
                type: event
                action_chain:
                  - name: plc_port
                    type: write
                    byte: [0x11, 0x05, 0x00, 0x00, 0x00, 0x00, 0xCF, 0x5A]
                  - name: plc_port
                    type: read
                    byte: [0x11, 0x05, 0x00, 0x00, 0x00, 0x00, 0xCF, 0x5A]

              - name: layer2_front_green_led_on
                type: event
                action_chain:
                  - name: plc_port
                    type: write
                    byte: [0x11, 0x05, 0x00, 0x01, 0xFF, 0x00, 0xDF, 0x6A]
                  - name: plc_port
                    type: read
                    byte: [0x11, 0x05, 0x00, 0x01, 0xFF, 0x00, 0xDF, 0x6A]

              - name: layer2_front_green_led_off
                type: event
                action_chain:
                  - name: plc_port
                    type: write
                    byte: [0x11, 0x05, 0x00, 0x01, 0x00, 0x00, 0x9E, 0x9A]
                  - name: plc_port
                    type: read
                    byte: [0x11, 0x05, 0x00, 0x01, 0x00, 0x00, 0x9E, 0x9A]

              - name: layer2_back_red_led_on
                type: event
                action_chain:
                  - name: plc_port
                    type: write
                    byte: [0x11, 0x05, 0x00, 0x02, 0xFF, 0x00, 0x2F, 0x6A]
                  - name: plc_port
                    type: read
                    byte: [0x11, 0x05, 0x00, 0x02, 0xFF, 0x00, 0x2F, 0x6A]

              - name: layer2_back_red_led_off
                type: event
                action_chain:
                  - name: plc_port
                    type: write
                    byte: [0x11, 0x05, 0x00, 0x02, 0x00, 0x00, 0x6E, 0x9A]
                  - name: plc_port
                    type: read
                    byte: [0x11, 0x05, 0x00, 0x02, 0x00, 0x00, 0x6E, 0x9A]

              - name: layer2_back_green_led_on
                type: event
                action_chain:
                  - name: plc_port
                    type: write
                    byte: [0x11, 0x05, 0x00, 0x03, 0xFF, 0x00, 0x7E, 0xAA]
                  - name: plc_port
                    type: read
                    byte: [0x11, 0x05, 0x00, 0x03, 0xFF, 0x00, 0x7E, 0xAA]

              - name: layer2_back_green_led_off
                type: event
                action_chain:
                  - name: plc_port
                    type: write
                    byte: [0x11, 0x05, 0x00, 0x03, 0x00, 0x00, 0x3F, 0x5A]
                  - name: plc_port
                    type: read
                    byte: [0x11, 0x05, 0x00, 0x03, 0x00, 0x00, 0x3F, 0x5A]
              - name: diagnostics
                type: publish
        </rosparam>
    </node>
</launch>
