<?xml version="1.0"?>
<launch>
    <node name="rosbridge_shelf_rfid" pkg="rosbridge_driver" type="rosbridge_driver" output="screen">
        <rosparam>
            port_chain:
              - name: plc_port
                type: socket
                ip_address: 192.168.0.14
                ip_port: 8080
            topic_chain:
              - name: waypoint_user_pub
                type: subscribe
                freq: 2.0
              - name: shelf_rfid
                type: event
                rfid_id01: 0x00
                rfid_id02: 0x00
                rfid_id03: 0x00
                rfid_id04: 0x00
                addr0: 0x00
                addr1: 0x01
                addr2: 0x02
                addr3: 0x03
                addr4: 0x04
                addr5: 0x05
                action_chain:
                  - name: plc_port
                    type: write
                    byte: [0x7F, 0x03, addr0, 0x10, 0x13]
                  - name: plc_port
                    type: read
                    byte: [0x7F, 0x0A, addr0, 0x90, 0x00, 0x04, 0x00, rfid_id01, rfid_id02, rfid_id03, rfid_id04, xor0]
                    except: [0x7F, 0x04, 0x00, 0x90, 0xFF, 0x6B]
                echo: [rfid_id01, rfid_id02, rfid_id03, rfid_id04]
              - name: diagnostics
                type: publish
        </rosparam>
    </node>
</launch>
