<launch>
    <arg name="one_explore_distance" default="3" />
    <arg name="one_length_max" default="0.45" />
    <arg name="one_length_min" default="0.35" />
    <arg name="max_offset" default="0.3" />

    <node name="scan_one" pkg="laser_filters" type="scan_to_scan_filter_chain" output="screen">
        <remap from="scan_filtered" to="scan_one" />
        <rosparam subst_value="true">
            scan_filter_chain:
            - name: laser_angle_filter
              type: laser_filters/LaserScanAngularBoundsFilter
              params:
                lower_angle: -1.7
                upper_angle: 1.7
            - name: laser_median_filter
              type: laser_filters/LaserArrayFilter
              params: 
                range_filter_chain:
                  - name: median_5
                    type: filters/MultiChannelMedianFilterFloat 
                    params:
                      number_of_observations: 5
                      unused: 10
                intensity_filter_chain:
                  - name: median_5
                    type: filters/MultiChannelMedianFilterFloat 
                    params:
                      number_of_observations: 5
                      unused: 10
            - name: shadows
              type: laser_filters/ScanShadowsFilter
              params:
                min_angle: 10
                max_angle: 170
                neighbors: 5
                window: 1
            - name: intensity
              type: laser_filters/LaserScanIntensityFilter
              params:
                lower_threshold: 3000
                upper_threshold: 100000
                disp_histogram: 0
        </rosparam>
    </node>

    <node name="object_fitting" pkg="object_detector" type="object_fitting_node.py" output="screen">
        <remap from="scan_filtered" to="scan_one" />
        <rosparam subst_value="true">
            frame_id: "base_link"
            use_scipy: True
            max_range: 3.0
            separation_distance: 0.05
            max_circle_radius: 0.1
            radius_enlargement: 0.02
            segment_merge_distance: 0.05

            cut_tail: False
            cut_ratio: 0.1
        </rosparam>
    </node>

    <node name="one_detector" pkg="object_detector" type="one_detection_node.py" output="screen"> 
        <rosparam subst_value="true">
            one_explore_distance:  $(arg one_explore_distance)
            one_length_max: $(arg one_length_max)
            one_length_min: $(arg one_length_min)
            publish_object: True
            object_timeout: 30
            weight_distance: 5
            max_offset: $(arg max_offset)

            median_filter_group: 20
            median_filter_initial_group: 20
            global_xy_error: 0.1
            global_yaw_error: 0.1
            fifo: -1
            if_show_animation: False
            plot_pause_interval: 20
            plot_sample_interval: 3
            if_log: False
            publish_rate: 20
        </rosparam>
    </node>
</launch>