<?xml version="1.0"?>
<launch>
    <arg name="rebot" default="false" />
    <arg name="ktc1999" default="false" />

    <arg name="name" default="" />
    <arg name="port" default="/dev/ttyUSB0" />
    <arg name="debug" default="false" />

    <node if="$(arg rebot)" name="rosbridge_rest$(arg name)" pkg="rosbridge_driver" type="rosbridge_driver" output="screen">
        <param name="rest_port" value="$(arg port)" />
        <param name="debug_io" value="$(arg debug)" />
        <rosparam subst_value="true">
            port_chain:
              - name: rest_port
                type: socket
            topic_chain:
              - name: waypoint_user_pub
                type: subscribe
                rate: 1.0
              - name: joy_feedback_array
                type: sensor_msgs/JoyFeedbackArray
                itype: 0
                id: 0
                enum_intensity: [itype, axes, buttons]
                enum_axes: [id, linear_y, linear_x, joy_lt, angular_z, linear_z, joy_rt, angular_y, angular_x]
                enum_buttons: [id, enable, buzzer, dump, load, joy_lb, joy_rb, estop, start, modex, pedal, stick]
                cmd: [3, -, [start.0, '*', 2]]
                voltage_set: 0
                current_set: 0
                action_chain:
                  - name: rest_port
                    type: write
                    byte: [0x01, 0x05, cmd, voltage_set, big, 0x00, 0x00, crc16, big]
                  - name: rest_port
                    type: read
                    byte: [0x01, 0x03, 0x10, temperature, voltage, big, battery_voltage, big, current, big, voltage_get, big, current_get, big, errno, charge_time, big, charge_lock, charge_status, crc16, big]
        </rosparam>
    </node>

    <node if="$(arg ktc1999)" name="rosbridge_rest$(arg name)" pkg="rosbridge_driver" type="rosbridge_driver" output="screen">
        <param name="rest_port" value="$(arg port)" />
        <param name="debug_io" value="$(arg debug)" />
        <rosparam subst_value="true">
            port_chain:
              - name: rest_port
                type: serial
                serial_baud: 9600
            topic_chain:
              - name: waypoint_user_pub
                type: subscribe
                rate: 10.0
              - name: nav_ctrl
                type: yocs_msgs/NavigationControl
                rate: 10.0
                goal_header: BB
                goal_name: 0
                action_chain:
                  - name: rest_port
                    type: read
                    byte: [0x39, 0x39, goal_name, hex, hex, hex, 0x32, 0x44, 0x41]
              - name: waitBB2
                echo: [nav_ctrl/goal_name]
              - name: waitBB4
                echo: [nav_ctrl/goal_name]
        </rosparam>
    </node>
</launch>
